*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Build-time work files
# Likely name of RTC scmTools
/RTC-scmTools-*.zip
# Where we unpack the tools into
/rtcScmTools
/rtcScmTools/
# Intermediate files made when we build our docker image
/.dockerignore
/contents.tar
/contents.txt
/Dockerfile
/extraArgs.txt
/TrustedCertificates
/TrustedCertificates/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# OSX hidden files
.DS_Store

# intelliJ IDE
.idea/
